.dice {
    width: 8rem;
    height: 8rem;
    display: inline-block;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
}
#numbers .dice {
    padding-top: 1.2rem;
    font-size: 4.2rem;
    border: 1px dotted #666;
    margin: 0 0.5rem;
}
#pitch .dice {
    padding-top: 2.8rem;
    background-color: var(--bs-green);
    color: white;
}
#extra .dice {
    padding-top: 1rem;
    font-weight: normal;
    background-color: var(--bs-red);
    color: white;
}
#safe .dice {
    padding-top: 2.8rem;
    background-color: var(--bs-black);
    color: white;
}
